*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Courier New', Courier, monospace;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
}

.w33{
    width: 33.3%;
}

.left{
    float: left;
}
.right{
    float: right;
}

header{
    background-color: #262F3F;
    padding: 40px 0;
    height: 50px;
    border: solid black 1px;
}


.logo img{
    width: 40px;

}


.mobile{
    display: none;
}


nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    display: inline-block;
    padding: 0 15px;
}
nav.desktop a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav.desktop input{
    float: right;
    margin-right: 10px;
    padding: 2px;
    background-color: #19448f;
    color: white;
    border: double 2px white;
}

.area-principal{
    margin-top: 10px;
}
.area-principal h1{
    text-align: center;
}
.meio-area-principal img{
    width:50%;
}

.produtos{
    background-color: #262F3F;
    margin-top: 15px;
    text-decoration:solid;
    color: white;
    padding: 20px;
    border-radius: 1%;
    border: solid black 2px;
}
.produtos h2{
    text-align: center;
}

.box-produto .topo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.artigos{
    padding: 0px 15px 15px 15px;
    display: inline-block;
    width: 80%;
    border: 3px black solid;
    border-radius: 2%;
    margin-left: 80px;
    margin-top: 25px;
    text-align: center;
    background-color: #262F3F;
    color: white;

}


.menu-artigos{
    display: flex;
    gap: 20px;
    padding-top: 10px;

}
.box-artigos{
    width: 33.3%;
}

.menu-artigos img{
    width: 100%;
}


footer{
     padding: 40px 15px 15px 15px;
}

.meio-area-principal{
display: flex;
align-items: center;
}

.link-planilha{
    padding: 0 10px 10px 10px;
    text-align: center;
    
}
.link-planilha a{
    text-decoration: none;
    color: white;
    border: solid black 1px;
    border-radius: 5%;
    font-size: 19px;
    background-color: #262F3F;
    padding: 1px;

}



@media screen and (max-width: 760px){

nav.desktop{
    display: none;
}
nav.mobile{
    display:block;
}
nav.mobile ul{
    display: none;
}
.botao-menu img{
    width: 10%;
    cursor: pointer;
    float: right;
}

.menu-artigos img{
    width: 100%;
}

.menu-artigos{
    display: block;
}

}